<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrateur INTIA</title>
</head>
<body>
    <h1>bienvenue Administrateur INTIA</h1>
</body>
</html>