<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTIA ASSURANCE</title>
</head>
<body>
    <h1>
        Bienvenu sur la plateforme de INTIA Assurance
    </h1>
    <p>Connectez vous pour acceder au fonctionalités de l'application</p>
    <a href="/login">se connecter</a>
    <p>ou accedez directement a votre Dashboard </p><a href="/administrateur">Direction generale</a>
    <br>
    <a href="/assureur">succursale</a>
</body>
</html>