<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
        <h3>Login</h3>
        <hr>
        <form action="/loginPost" method="post">
            <input type="number" name="login_number" id="" placeholder="numero de login" required>
            <input type="password" name="password" id="" placeholder="mot de passe" required>
            <input type="submit" value="connecter">
        </form>
    </div>
</body>
</html>